.rps{

display: flex;
flex-direction: row;
position: fixed;
top: 0px;
right: 0px;
left: 0px;
height: 80px;
justify-content: space-between;
align-items: center;
z-index: 5;
}

.game{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 15px;
position: absolute;
top: 150px;
left: 0px;
right:0px ;

}


.left{
align-items: center;
justify-content: center;
background-color: gray;
flex: 1;
display: flex;
flex-direction: row;    
}

.img1{

width: 100px;
}

.pr{

font-size: larger;
text-align: center;
font-weight: bolder;
color: white;
}


.mid{
align-items: center;
justify-content: center;
background-color: lightsalmon;
flex: 1;
display: flex;
flex-direction: row;    
}

.img2{


width: 150px;

}

.pp{

font-size: larger;
text-align: center;
font-weight: bolder;


}

.right{
    
align-items: center;
justify-content: center;
background-color: plum;
flex: 1;
display: flex;
flex-direction: row;   
}

.img3{


width: 100px;

}

.ps{

font-size: larger;
text-align: center;
font-weight: bolder;

}










.gb{
width: 200px;
height: 200px;
border-radius: 50px;
background-color: lightblue;
}


.btrock{

width: 180px;
border-radius: 30px;

}

.btrock:active{

box-shadow: 5px 5px;


}

.btpaper{
width: 177px;
border-radius: 30px;


}

.btpaper:active{

box-shadow: 5px 5px;


}

.btsic{
width: 177px;
border-radius: 30px;


}

.btsic:active{

box-shadow: 5px 5px;


}



.gl{

position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
align-items: center;
background-color: aqua;
}

.luck{


text-align: center;
font-weight: bolder;
}

